services:
  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  app:
    image: tarun2799/mini-me:v0.0.1
    container_name: mini-me-prod
    restart: always
    ports:
      - "8080:8080"
    environment:
      REDIS_ADDR: redis:6379
    depends_on:
      - redis

volumes:
  redis-data:
