services:
  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  app:
    build:
      context: ../../
      dockerfile: deployments/production/Dockerfile
    image: tarun2799/mini-me:${IMAGE_TAG:-latest}
    container_name: mini-me-prod
    restart: always
    ports:
      - "8080:8080"
    environment:
      REDIS_ADDR: redis:6379
      REDIS_TTL: 0
      SHORT_CODE_LENGTH: 8
      NODE_ID: 1
    depends_on:
      - redis

volumes:
  redis-data:
